<section id="footer">
	<div class="stripe-black"><h3><span style="color:dimgray;">Join the toptal community.</span> Apply with us to join us as a <a href="#" class="button small white round upper bold">Developer</a> or <a href="#" class="button small white round upper bold">Client</a></h3></div>
	<div id="widgets" class="row">
		<div class="large-6 columns"><span class="title">About toptal</span>
			<p>TopTal connects start-ups, businesses, and organizations to a growing network of the best developers in the world. Our engineers are availiable full- or part-time and are able to seamlessly integrate into your team.</p>
			<!--<a href="#" class="button tiny right radius black" style="color: white;">Learn More</a>--></div>
			<div id="faq" class="large-3 columns">
				<span class="title">FAQ</span>
				<ul>
					<li><a href="#">How can I join toptal?</a></li>
					<li><a href="#">What requirements do I have to meet?</a></li>
					<li><a href="#">How do you pay me?</a></li>
					<li><a href="#">Loerum ipsum dolar sit amet?</a></li>
					<li><a href="#">Dolar sotar mins tim amet?</a></li>
				</ul>
			</div>
			<div class="large-1 columns">{{ mixture.sitemap | navigation: mixture.url, 'ul', 'li', '', '' }}</div>
			<div id="contact" class="large-2 columns">
				<span class="title">Contact</span>
				<ul>
					<li><a href="#">Join us</a></li>
					<li><a href="#">Send us e-mail</a></li>
					<li><a href="#">Follow us on twitter</a></li>
					<li><a href="#">Call 888.323.4422</a></li>
				</ul>
			</div>
		</div>
		<div id="copy" class="row copy">
			<div class="left">&copy; 2014 Toptal Development</div><div class="right"><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></div>
		</div>
	</section>